.HEADER {
  width: 100%;
  height: 150px;
}

.HEADER_LINKS_CONTAINER {
  text-align: center;
}

.LOGO {
  text-align: center;
  padding-top: 70px;
}

.CONTAINER {
  width: 100%;
  height: 600px;
}

.LINKS_CONTAINER {
  width: 100%;
  height: 200px;
  padding-top: 150px;
  text-align: center;
}

.HIGHLIGHT_VIDEO_CONTAINER {
  width: 100%;
  height: 300px;
}

.CATAGORY_CONTAINER {
  width: 100%;
  height: 600px;
  background-color: linen;
  padding-top: 50px;
  text-align: center;
}

.CATAGORY_CONTAINER a {
  display: block;
  background-color: yellow;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.VIDEOS_CONTAINER {
  width: 100%;
  background-color: linen;
  font-family: Arial, Helvetica, sans-serif;
}

.VIDEO_CONTAINER {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.TITLE_DIV p {
  margin: 0;
  font-weight: bold;
}

.VIDEO {
  width: 350px;
  height: 250px;
}

@media only screen and (min-width: 500px) {
  .VIDEO_CONTAINER {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .VIDEO {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .VIDEO_CONTAINER {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .VIDEO {

    width: 700px;
    height: 500px;
  }
  }
}
